body{
    display: flex;
    background-color: violet;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.main{
    color: white;
    background-color: rgb(27, 27, 109);
    height: 400px;
    font-size: 50px;
    padding: 20px;
}
input{
    height: 20px;
    width: 40px;
    background-color:rgb(27, 27, 109) ;
}
.checko{
    margin: 10px;
}
p{
    display: inline;
}
input:active + p{
    text-decoration: line-through;
}
li{
    text-decoration: none;
    list-style-type: none;
}